.manager-content {
  min-width: 0;
  max-width: 100%;
}

.search-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 24px;
  .search-title {
    font-weight: 200;
    font-size: 24px;
    margin: 0;
  }
  .search-field {
    .search-field-container {
      width: 300px;
    }
  }
  .no-result {
    padding: 0;
    .mat-icon {
      width: 36px;
      height: 36px;
      font-size: 36px;
    }
  }
}

.updating-background {
  position: sticky;
  z-index: 9;
  top: 0;
  right: 0;
  width: fit-content;
  margin-left: auto;
  margin-bottom: -34px;
  font-size: 12px;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: rgba(0,0,0,.66);
  background-color: #eee;
  animation: showLoadingBackground .2s;
  .mat-icon {
    max-width: 18px;
    max-height: 18px;
    font-size: 18px;
  }
}

@keyframes showLoadingBackground {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
