
@media (min-width: 960px) {
  .manager-container {
    width: 100%;
    display: flex;
    gap: 16px;
    .manager-filters {
      flex: 1 0 240px;
      max-width: 240px;
    }
    .manager-content {
      min-width: 0;
      max-width: 100%;
      flex: 1;
    }
  }
}


.search-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
  @media (min-width: 600px) {
    flex-direction: row;
    gap: 16px;
  }
  .search-title {
    font-weight: 200;
    font-size: 20px;
    margin: 0;
    order: 2;
    @media (min-width: 600px) {
      order: 1;
      font-size: 24px;
    }
  }
  .search-field {
    order: 0;
    width: 100%;
    order: 1;
    @media (min-width: 600px) {
      width: auto;
    }
    .search-field-container {
      width: 100%;
      @media (min-width: 600px) {
        width: 300px;
      }
    }
  }
  .no-result {
    padding: 0;
    .mat-icon {
      width: 36px;
      height: 36px;
      font-size: 36px;
    }
  }
}

.updating-background {
  position: sticky;
  z-index: 9;
  top: 0;
  right: 0;
  width: fit-content;
  margin-left: auto;
  margin-bottom: -34px;
  font-size: 12px;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: rgba(0,0,0,.66);
  background-color: #eee;
  animation: showLoadingBackground .2s;
  .mat-icon {
    max-width: 18px;
    max-height: 18px;
    font-size: 18px;
  }
}

@keyframes showLoadingBackground {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.objectives-container {
  display: block;
  overflow-x: auto;
  @media (max-width: 599px) {
    max-width: calc(100% + 32px);
    margin: 0 -16px;
    padding: 0 16px;
  }
  .objectives-list {
    width: fit-content;
    display: block;
    @media (min-width: 600px) {
      width: max-content;
      min-width: 100%;
    }
  }
}
