
<app-page-header
  [buttonText]="'Criar objetivo'"
  [buttonIcon]="'add'"
  (buttonAction)="openCreateObjective()"
/>

<div fxLayout.gt-sm fxLayoutGap="16px">

  <div fxFlex.gt-sm="240px" fxLayout="column">
    <app-filters
      fxLayout="column"
      fxLayoutGap="24px"
      [(filter)]="filter"
      [cycles]="cycles"
      (handleGetObjectives)="getObjectives(this.filter)"
    />
  </div>

  <mat-divider [vertical]="true" />

  <div fxFlex class="manager-content">

    <div class="search-field">
      <mat-form-field class="search-field-container">
        <mat-label>Buscar objetivo ou responsável</mat-label>
        <input matInput type="text" [(ngModel)]="keyword" (ngModelChange)="changeSearchKeyword()">
        <button
          *ngIf="keyword; else noSearch"
          matSuffix
          mat-icon-button
          aria-label="Limpar busca"
          (click)="clearSearchKeyword()"
        >
          <mat-icon>close</mat-icon>
        </button>
        <ng-template #noSearch>
          <button matSuffix mat-icon-button color="primary">
            <mat-icon>search</mat-icon>
          </button>
        </ng-template>
      </mat-form-field>
    </div>

    <mat-tab-group animationDuration="0ms" mat-stretch-tabs="false" [selectedIndex]="1">

        <mat-tab label="OBJETIVOS">

          <mat-divider></mat-divider>

          <div *ngIf="loadingObjectives, else noLoadingList" class="loading">
            <mat-spinner diameter="40"></mat-spinner>
          </div>
          <ng-template #noLoadingList>

            <app-objective-list
              *ngIf="objectives.length > 0, else noObjectives"
              [objectives]="objectives"
              (updateObjectives)="getObjectives(this.filter)"
              class="objectives-list"
            />

          </ng-template>

        </mat-tab>

        <mat-tab label="MAPA ESTRATÉGICO">

          <mat-divider></mat-divider>

          <div *ngIf="loadingObjectives, else noLoadingMap" class="loading">
            <mat-spinner diameter="40"></mat-spinner>
          </div>
          <ng-template #noLoadingMap>

            <app-objective-map
              *ngIf="objectives.length > 0, else noObjectives"
              [objectives]="objectives"
              (updateObjectives)="getObjectives(this.filter)"
              class="objectives-map"
            />

          </ng-template>

        </mat-tab>

        <ng-template #noObjectives>
          <div class="no-result">
            <mat-icon>error_outline</mat-icon>
            Nenhum objetivo cadastrado.
          </div>
        </ng-template>


    </mat-tab-group>

  </div>
</div>
