.description {
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  max-width: 100%;
  cursor: pointer;
  &.description-truncate {
    white-space: nowrap;
  }
}

.no-supporters {
  min-height: 48px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.supporters {
  display: flex;
  flex-wrap: wrap;
  .supporter {
    margin-right: -8px;
  }
}

.chart {
  padding-top: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  .chart-donut {
    border-radius: 100%;
    outline: 5px solid rgba(0,0,0,.12);
    outline-offset: -5px;
    position: relative;
    .chart-donut-value {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 12px;
      font-weight: 500;
    }
    .chart-donut-progress {
      &.warn {
        --mdc-circular-progress-active-indicator-color: #d32f2f;
      }
      &.accent {
        --mdc-circular-progress-active-indicator-color: #ed6c02;
      }
      &.success {
        --mdc-circular-progress-active-indicator-color: #2E7D32;
      }
    }
  }
}

.krs {
  margin-top: 16px;
  ::ng-deep .mdc-button__label {
    white-space: nowrap;
  }
  .krs-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .krs-list {
    list-style: none;
    margin: 32px 0 0 0;
    padding: 0;
    & > li {
      display: flex;
      gap: 8px;
      margin: 32px 0;
    }
    .krs-list-content {
      flex: 1;
    }
    .krs-list-name {
      margin: 4px 0 0 0;
      .mat-icon {
        font-size: 16px;
        width: 16px;
        height: 16px;
        position: relative;
        top: 1px;
      }
    }
    .krs-list-actions {
      display: flex;
      align-items: center;
      .krs-list-slider {
        flex: 1;
        margin-left: 0px;
      }
      .krs-list-actions-progress {
        width: 52px;
        text-align: right;
        padding-right: 4px;
      }
      .mat-mdc-icon-button:last-child {
        margin: 0 -8px;
      }
    }
    .krs-list-tasks-title {
      margin-bottom: 8px;
    }
    .krs-list-tasks-checkbox {
      margin-left: -11px;
    }
  }
}

.no-slider-thumb.mdc-slider--disabled {
  opacity: 1;
  input {
    cursor: default;
  }
  ::ng-deep .mat-mdc-slider-visual-thumb {
    visibility: hidden;
  }
  ::ng-deep .mdc-slider__track--active {
    background-color: #D1D5ED;
  }
  ::ng-deep .mdc-slider__track--active_fill {
    border-color: #3F51B5;
    transition: .2s;
  }
}
