<div *ngIf="objective.children" class="associate">
  <mat-icon *ngIf="expandedItem" (click)="expandItem(objective)" color="primary" class="associate-button">
    remove
  </mat-icon>
  <mat-icon *ngIf="!expandedItem" (click)="expandItem(objective)" color="primary" class="associate-button">
    add
  </mat-icon>
  <mat-divider *ngIf="expandedItem" [vertical]="true" class="associate-connect"></mat-divider>
</div>

<div class="objective" [ngClass]="updatingObjective()">

  <div class="objective-content" fxLayout="column">
    <div class="objective-name">{{ objective.name }}</div>
    <div class="objective-details" fxLayout fxLayoutGap="8px">
      <mat-icon [matTooltip]="objective.category!.name" matTooltipPosition="above" class="objective-category">
        {{ objective.category | IconCategory }}
      </mat-icon>
      <div class="objective-status">{{objective.finished ? 'Finalizado' : 'Em aberto'}}</div>
      <div class="objective-owner" fxLayout fxLayoutAlign="start center" fxLayoutGap="4px" [matTooltip]="objective.owner!.name"
      matTooltipPosition="above">
        <img
          *ngIf="objective.owner!.photo; else noPhoto"
          [src]="objective.owner!.photo"
          [alt]="objective.owner!.name"
          class="objective-owner-image"
        />
        <ng-template #noPhoto>
          <mat-icon class="objective-owner-image">person</mat-icon>
        </ng-template>
        <span fxHide.lt-sm>{{ objective.owner!.name }}</span>
      </div>
    </div>
    <div fxLayout fxLayoutAlign="start center" fxLayoutGap="8px">
      <button (click)="openDetails(objective)" mat-stroked-button color="primary">
        MAIS DETALHES
      </button>
      <button
        (click)="openEditObjective(objective)"
        mat-icon-button
        matTooltip="Editar objetivo"
        matTooltipPosition="above"
        aria-label="Editar objetivo"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        (click)="deleteObjective(objective)"
        mat-icon-button
        matTooltip="Excluir objetivo"
        matTooltipPosition="above"
        aria-label="Excluir objetivo"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

  <div class="objective-graph" fxLayout fxLayoutAlign="start center" fxLayoutGap="8px">
    <div class="objective-graph-content" fxLayout="column" fxLayoutGap="8px">
      <small [matTooltip]="'Prazo: ' + (objective.deadline | date: 'dd/MM/yyyy')" matTooltipPosition="above">
        Restam {{ daysToEnd(objective.deadline) }} dias
      </small>
      <mat-progress-bar
        mode="determinate"
        [value]="objective.conclusionPercent ? objective.conclusionPercent : 0"
        [ngClass]="getProgressStatus(objective) | ColorProgress"
        class="objective-graph-conclusion-progress"
      />
      <small *ngIf="objective.numberOfKRs && objective.numberOfKRs > 0; else noKrs">
        {{ objective.numberOfKRsCompleted ? objective.numberOfKRsCompleted : 0 }} de
        {{ objective.numberOfKRs }} KR{{objective.numberOfKRs > 1 ? 's' : ''}}
        completo{{objective.numberOfKRs > 1 ? 's' : ''}}
      </small>
      <ng-template #noKrs>
        <small>Nenhum KR cadastrado</small>
      </ng-template>
    </div>
    <div
      [ngClass]="getProgressStatus(objective) | ColorProgress"
      class="objective-graph-conclusion-percent"
    >
      {{ objective.conclusionPercent ? (objective.conclusionPercent / 100 | percent: '1.0-1') : '0%' }}
    </div>
  </div>

</div>

<div *ngIf="objective.children && expandedItem">
  <app-objective-list
    [objectives]="objective.children"
    [objectivesInBackground]="objectivesInBackground"
    (updateObjectives)="updateObjectives.emit($event)"
    class="objectives-children"
  />
</div>
