<mat-toolbar color="primary">

  <a routerLink="/" class="logo">
    <mat-icon>crisis_alert</mat-icon>
    OKRs
  </a>

  <div class="main-menu" [ngClass]="{ 'opened': menuOpened }">
    <button (click)="closeMenu()" fxHide.gt-sm mat-icon-button aria-label="Fechar menu">
      <mat-icon>close</mat-icon>
    </button>
    <mat-divider fxHide.gt-sm />
    <a routerLink="/" (click)="closeMenu()" mat-button class="menu-option">Dashboard</a>
    <mat-divider fxHide.gt-sm />
    <a routerLink="/manager" (click)="closeMenu()" mat-button class="menu-option">Gestão de OKRs</a>
    <mat-divider fxHide.gt-sm />
    <a routerLink="/estrategic-map" (click)="closeMenu()" mat-button class="menu-option">Mapa estratégico</a>
    <mat-divider fxHide.gt-sm />
    <a routerLink="/users" (click)="closeMenu()" mat-button class="menu-option">Usuários</a>
  </div>

  <span fxFlex></span>

  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu do usuário" class="menu-user">
    <img *ngIf="userPhoto, else noPhoto" [src]="userPhoto" class="user-photo user-photo-sm">
    <ng-template #noPhoto>
      <mat-icon class="user-photo user-photo-sm">person</mat-icon>
    </ng-template>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>logout</mat-icon>
      <span>Sair</span>
    </button>
  </mat-menu>

  <button (click)="openMenu()" fxHide.gt-sm mat-icon-button aria-label="Menu principal">
    <mat-icon>menu</mat-icon>
  </button>

  <div (click)="closeMenu()" class="menu-overlay" [ngClass]="{ 'opened': menuOpened }"></div>

</mat-toolbar>
