<mat-toolbar color="primary">

  <button fxHide.gt-sm mat-icon-button aria-label="Menu principal">
    <mat-icon>menu</mat-icon>
  </button>
  <a routerLink="/" class="logo">
    <mat-icon>crisis_alert</mat-icon>
    OKRs
  </a>
  <a routerLink="/manager" mat-button class="menu-option">Gestão de OKRs</a>
  <a routerLink="/estrategic-map" mat-button class="menu-option">Mapa estratégico</a>

  <span fxFlex></span>

  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu do usuário" class="menu-user">
    <img [src]="userPhoto" class="user-photo user-photo-sm">
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>logout</mat-icon>
      <span>Sair</span>
    </button>
  </mat-menu>

</mat-toolbar>
