.filter-checkbox {
  small {
    margin-bottom: 8px;
  }
  .mat-mdc-checkbox {
    margin-left: -10px;
  }
}


.expand-filters {
  display: flex;
  .mat-icon:nth-child(even) {
    order: 3;
    margin: 0 0 0 8px;
  }
  .button-expand-filters-text {
    order: 2;
  }
}

.expand-divider {
  margin-bottom: 24px;
}

.expand-filters {
  margin: -12px 0 12px 0 !important;
}

.more-filters {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media (min-width: 960px) {
  .expand-filters {
    display: none;
  }
}

@media (max-width: 959px) {
  .more-filters {
    display: none;
    margin-bottom: 24px;
    flex-direction: column;
    gap: 24px;
    &.show-filters {
      display: flex;
    }
  }
}
