<form #formUser="ngForm" (ngSubmit)="saveUser()" appMustMatch [mustMatch]="['password', 'confirmPassword']">

  <div class="form-content">
    <div class="form-user-photo">

      <div *ngIf="!showCrop">
        <img *ngIf="user.photo, else noPhoto" [src]="user.photo" class="form-user-photo-preview" alt="Foto do usuário" />
        <ng-template #noPhoto>
          <mat-icon class="user-photo form-user-photo-preview">person</mat-icon>
        </ng-template>
        <div *ngIf="user.id !== 'admin'" class="form-user-photo-actions">
          <button (click)="fileInput.click()" mat-button mat-flat-button color="primary" type="button">
            <mat-icon>upload</mat-icon>
            <span>Carregar foto</span>
          </button>
          <button
            *ngIf="user.photo"
            (click)="deletePhoto()"
            mat-mini-fab
            color="warn"
            type="button"
            aria-label="Excluir foto"
            matTooltip="Excluir foto"
            matTooltipPosition="above"
          >
            <mat-icon>delete</mat-icon>
          </button>
          <input hidden type="file" #fileInput (change)="onFileChange($event)" />
        </div>
      </div>

      <div [ngClass]="{'show-crop': showCrop}" class="form-user-crop-options">
        <image-cropper
          [imageChangedEvent]="changeImageEvent"
          [maintainAspectRatio]="true"
          [roundCropper]="true"
          [aspectRatio]="4 / 4"
          [resizeToWidth]="180"
          [imageQuality]="60"
          [disabled]="user.id === 'admin'"
          output="base64"
          format="webp"
          (imageCropped)="cropImage($event)"
          (imageLoaded)="imageLoad()"
          (loadImageFailed)="imageFailed()">
        </image-cropper>
        <button (click)="confirmPhoto()" mat-icon-button color="primary" type="button">
          <mat-icon>check</mat-icon>
        </button>
        <button (click)="cancelPhoto()" mat-icon-button type="button">
          <mat-icon>close</mat-icon>
        </button>
      </div>

    </div>
    <div class="form-fields">
      <mat-form-field fxFlexFill>
        <mat-label>Nome completo</mat-label>
        <input
          [(ngModel)]="user.name"
          [disabled]="user.id === 'admin'"
          id="userName"
          name="name"
          #nameField="ngModel"
          matInput
          required
        >
        <mat-error *ngIf="nameField.invalid">
          <span *ngIf="nameField.errors?.['required']">Campo obrigatório</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlexFill>
        <mat-label>E-mail</mat-label>
        <input
          [(ngModel)]="user.email"
          [disabled]="user.id === 'admin'"
          name="email"
          #emailField="ngModel"
          matInput
          required
          type="email"
          email
        >
        <mat-error *ngIf="emailField.invalid">
          <span *ngIf="emailField.errors?.['email'] && !emailField.errors?.['required']">Informe um e-mail válido</span>
          <span *ngIf="emailField.errors?.['required']">Campo obrigatório</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlexFill>
        <mat-label>Cargo</mat-label>
        <input
          [(ngModel)]="user.position"
          [disabled]="user.id === 'admin'"
          name="position"
          #positionField="ngModel"
          matInput
          required
        >
        <mat-error *ngIf="positionField.invalid">
          <span *ngIf="positionField.errors?.['required']">Campo obrigatório</span>
        </mat-error>
      </mat-form-field>

      <div *ngIf="loggedUser.id === user.id || loggedUser.id === 'admin' || !userToEdit" fxLayout="column" fxLayoutGap="24px">

        <mat-divider />

        <div *ngIf="userToEdit" fxLayout fxLayoutAlign="start start" fxLayoutGap="16px" fxFlexFill>
          <mat-form-field fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%">
            <mat-label>Senha atual</mat-label>
            <input
              [(ngModel)]="currentPassword"
              [disabled]="user.id === 'admin'"
              name="currentPassword"
              #currentPasswordField="ngModel"
              [minlength]="user.password!.length > 0 ? 6 : 0"
              matInput
              [required]="user.password!.length > 0"
              type="password"
            >
            <mat-error *ngIf="currentPasswordField.invalid">
              <span *ngIf="currentPasswordField.errors?.['minlength']">
                A senha precisa ter no mínimo 6 caracteres
              </span>
              <span *ngIf="currentPasswordField.errors?.['required']">Campo obrigatório</span>
            </mat-error>
          </mat-form-field>
        </div>

        <div fxLayout fxLayoutAlign="start start" fxLayoutGap="16px" fxFlexFill>
          <mat-form-field fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%">
            <mat-label>{{ userToEdit ? 'Nova senha' : 'Senha' }}</mat-label>
            <input
              [(ngModel)]="user.password"
              [disabled]="user.id === 'admin'"
              name="password"
              #passwordField="ngModel"
              minlength="6"
              matInput
              [required]="!userToEdit"
              type="password"
            >
            <mat-error *ngIf="passwordField.invalid">
              <span *ngIf="passwordField.errors?.['minlength']">
                A senha precisa ter no mínimo 6 caracteres
              </span>
              <span *ngIf="passwordField.errors?.['required']">Campo obrigatório</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout fxLayoutAlign="start start" fxLayoutGap="16px" fxFlexFill>
          <mat-form-field fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%">
            <mat-label>Confirmar senha</mat-label>
            <input
              [(ngModel)]="confirmPassword"
              [disabled]="user.id === 'admin'"
              name="confirmPassword"
              #confirmPasswordField="ngModel"
              minlength="6"
              appForbiddenName="user.password"
              matInput
              [required]="!userToEdit"
              type="password"
            >
            <mat-error *ngIf="confirmPasswordField.invalid">
              <span *ngIf="confirmPasswordField.errors?.['required']">
                Campo obrigatório
              </span>
              <span *ngIf="confirmPasswordField.errors?.['minlength']">
                A senha precisa ter no mínimo 6 caracteres
              </span>
              <span *ngIf="confirmPasswordField.errors?.['mustMatch']">
                As senhas não coincidem
              </span>
            </mat-error>
          </mat-form-field>
        </div>

      </div>

    </div>
  </div>

  <input #buttonSubmitHidden fxHide type="submit">

</form>
