<h2>Meus OKRs</h2>

<div class="my-okrs-indicators">

  <h3>Resumo dos seus objetivos e KRs</h3>

  <div class="my-okrs-indicators-content">
    <div class="chart-donut">
      <mat-progress-spinner
        class="chart-donut-progress"
        mode="determinate"
        [diameter]="144"
        [strokeWidth]="14"
        [ngClass]="getProgressStatusOfObjectives() | ColorProgress"
        [value]="indicators.conclusionPercent"
      />
      <span class="chart-donut-value">
        <div>
          {{ indicators.conclusionPercent ? (indicators.conclusionPercent / 100 | percent: '1.0-1') : '0%' }}
        </div>
      </span>
    </div>

    <div class="my-okrs-totals">
      <div class="my-okrs-total on-time">
        <div>
          <span>Dentro do prazo</span>
        </div>
        <strong>{{ indicators.onTimeNumberOfObjectives }}</strong>
      </div>
      <mat-divider />
      <div class="my-okrs-total alert">
        <div>
          <span>Em alerta</span>
        </div>
        <strong>{{ indicators.alertNumberOfObjectives }}</strong>
      </div>
      <mat-divider />
      <div class="my-okrs-total out-time">
        <div>
          <span>Fora do prazo</span>
        </div>
        <strong>{{ indicators.outTimeNumberOfObjectives }}</strong>
      </div>
      <mat-divider />
      <div class="my-okrs-total">
        <div>
          <span class="total">Total de objetivos</span>
        </div>
        <strong>{{ indicators.numberOfObjectives }}</strong>
      </div>
    </div>

    <div class="my-okrs-krs">
      <div class="my-okrs-krs-icon">
        <mat-icon class="my-okrs-krs-icon-key">key</mat-icon>
        <mat-icon class="my-okrs-krs-icon-check">check_circle_outline</mat-icon>
      </div>
      <div *ngIf="indicators.numberOfKRsCompleted > 0, else noKRs" class="my-okrs-krs-totals">
        Você está como responsável em <strong>{{ indicators.numberOfKRs }}</strong>
        KR{{ indicators.numberOfKRs > 1 ? 's' : '' }}.
        <div class="my-okrs-krs-totals-completed">
          <span *ngIf="indicators.numberOfKRsCompleted > 0, else noCompleted">
            ({{ indicators.numberOfKRsCompleted }}
            KR{{ indicators.numberOfKRsCompleted > 1 ? 's' : '' }}
            completo{{ indicators.numberOfKRsCompleted > 1 ? 's' : '' }})
          </span>
          <ng-template #noCompleted>
            (Nenhum KR completo)
          </ng-template>
        </div>
      </div>
      <ng-template #noKRs>
        <div class="my-okrs-krs-totals">
          Você não é responsável por nenhum KR.
        </div>
      </ng-template>
    </div>
  </div>

</div>
