<form #formObjective="ngForm" fxLayout="column wrap" fxLayoutAlign="start start" fxLayoutGap="24px">

  <mat-form-field fxFlexFill>
    <mat-label>Nome do objetivo</mat-label>
    <input matInput required cdkFocusInitial>
  </mat-form-field>

  <mat-form-field fxFlexFill>
    <mat-label>Descrição do objetivo</mat-label>
    <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
  </mat-form-field>

  <div fxLayout fxFlexFill>
    <mat-form-field fxFlex.gt-sm="50%" fxFlex="100%">
      <mat-label>Categoria do objetivo</mat-label>
      <mat-select required>
        <mat-option *ngFor="let categorie of categories" [value]="categorie.value">
          {{categorie.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div fxLayout="row wrap" fxFlexFill fxLayoutGap.gt-sm="16px">
    <app-user-single-select
      [user]="objective.owner"
      [required]="true"
      [formSubmitted]="formObjective.submitted"
      label="Responsável pelo objetivo"
      fxFlex.gt-sm="50%"
      fxFlex="100%"
    />
    <div>
      <mat-checkbox
        [ngStyle.gt-sm]="{'margin-top.px': 8}"
        [ngStyle]="{'margin-top.px': -8}"
      >
        Sou o responsável
      </mat-checkbox>
    </div>
  </div>

  <app-user-multiple-select
    [users]="objective.supporters!"
    label="Colaboradores que apoiam o objetivo"
    fxFlexFill
  />

  <div fxLayout='column' fxFlexFill>
    <label id="visibility-label">Visibilidade *</label>
    <mat-radio-group
      aria-labelledby="visibility-label"
      [(ngModel)]="objective.visibility"
      name="visibility"
      #visibilityField="ngModel"
    >
      <mat-radio-button value="public">
        Público - visível para toda a empresa
      </mat-radio-button>
      <mat-radio-button value="private">
        Privado - visível apenas para o criador do objetivo, responsável e colaboradores que apoiam o objetivo
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <div fxLayout='column' fxFlexFill>
    <label id="cycle-label">Ciclo *</label>
    <app-cycle-select [cycleData]="objective.cycle" (updateCycle)="updateCycleHandler($event)" />
  </div>

  <app-objective-to-associate
    [objectiveAssociate]="objective.associate!"
    label="Associar a um objetivo"
    hint="Você pode escolher um objetivo que será apoiado por este.
      Os objetivos listados pertencem ao mesmo período selecionado e obedecem
      a hierarquia de OKRs (Empresa > Grupo > Individual).
      Por exemplo, não é permitido que um objetivo de empresa dê apoio a um objetivo de grupo."
    fxFlexFill
  />

</form>
