<app-page-header
  [buttonText]="'Criar objetivo'"
  [buttonIcon]="'add'"
  (buttonAction)="openCreateObjective()"
/>

<div class="filter">
  <div class="cycles">
    <mat-form-field>
      <mat-label>Objetivos do ciclo:</mat-label>
      <mat-select [(value)]="filter.cycle" (valueChange)="getObjectives(this.filter);">
        <mat-option *ngFor="let cycle of cycles" [value]="cycle" >
          {{cycle.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div *ngIf="loadingObjectives, else noLoadingMap" class="loading">
  <mat-spinner diameter="40"></mat-spinner>
</div>

<ng-template #noLoadingMap>
  <app-objective-map
    *ngIf="objectives.length > 0, else noObjectives"
    [objectives]="objectives"
    [owners]="owners"
    [objectivesInBackground]="objectivesInBackground"
    (updateObjectives)="updateObjectivesInBackground($event)"
    (getObjectives)="getObjectives($event)"
    class="objectives-map"
  />
</ng-template>

<ng-template #noObjectives>
  <div class="no-result">
    <mat-icon>error_outline</mat-icon>
    Nenhum objetivo cadastrado.
  </div>
</ng-template>
