<div class="objective" [ngClass]="{'objective-with-children': objective.children && expandedItem}">
  <div class="objective-connections">
    <mat-card class="objective-card">
      <mat-card-content class="objective-card-content">

        <div fxLayout fxLayoutGap="8px" fxLayoutAlign="center">
          <mat-icon [matTooltip]="objective.category!.name" matTooltipPosition="above" class="objective-category">
            {{ objective.category | IconCategory }}
          </mat-icon>
          <div class="objective-status">{{objective.finished ? 'Finalizado' : 'Em aberto'}}</div>
          <div class="objective-owner" [matTooltip]="objective.owner!.name" matTooltipPosition="above" fxLayout fxLayoutAlign="start center" fxLayoutGap="4px">
            <img
              *ngIf="objective.owner!.photo; else noPhoto"
              [src]="objective.owner!.photo"
              [alt]="objective.owner!.name"
              class="user-photo user-photo-xs"
            />
            <ng-template #noPhoto>
              <mat-icon class="user-photo user-photo-xs">person</mat-icon>
            </ng-template>
          </div>
        </div>

        <div class="objective-name">{{ objective.name }}</div>

        <div class="objective-graph" fxFlexAlign="center center" fxLayout fxLayoutAlign="start center" fxLayoutGap="16px">
          <div class="objective-graph-content" fxLayout="column" fxLayoutGap="8px">
            <mat-progress-bar
              mode="determinate"
              [value]="objective.conclusionPercent ? objective.conclusionPercent : 0"
              [ngClass]="getProgressStatus(objective) | ColorProgress"
              class="objective-graph-conclusion-progress"
            />
          </div>
          <div
            [ngClass]="getProgressStatus(objective) | ColorProgress"
            class="objective-graph-conclusion-percent"
          >
            {{ objective.conclusionPercent ? (objective.conclusionPercent / 100 | percent: '1.0-1') : '0%' }}
          </div>
        </div>

        <div class="objective-krs">
          <small *ngIf="objective.numberOfKRs && objective.numberOfKRs > 0; else noKrs">
            {{ objective.numberOfKRsCompleted ? objective.numberOfKRsCompleted : 0 }} de
            {{ objective.numberOfKRs }} KR{{objective.numberOfKRs > 1 ? 's' : ''}}
            completo{{objective.numberOfKRs > 1 ? 's' : ''}}
          </small>
          <ng-template #noKrs>
            <small>Nenhum KR cadastrado</small>
          </ng-template>
        </div>

        <div *ngIf="objective.children" class="objective-label-children">
          <button
            (mousedown)="expandClicked($event)"
            (mouseup)="expandItem(objective, $event)"
            mat-stroked-button
            color="primary"
            class="objective-button-children"
          >
            <mat-icon class="objective-button-icon-left">{{ expandedItem ? 'expand_more' : 'expand_less'}}</mat-icon>
            <div>{{ objective.children.length }} objetivo{{objective.children.length > 1 ? 's' : ''}}</div>
            <mat-icon class="objective-button-icon-right">{{ expandedItem ? 'expand_more' : 'expand_less'}}</mat-icon>
          </button>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>

<div *ngIf="objective.children && expandedItem" class="objective-children">
  <app-objective-map-item
    [objective]="objective"
    *ngFor="let objective of objective.children; trackBy: trackByObjective"
    class="objective-map-item"
  />
</div>
