.objective {
  max-width: 240px;
  min-width: 240px;
  margin: 32px auto;
  &.disabled {
    pointer-events: none;
    opacity: .5;
    transition: .2s .2s;
    .objective-card {
      .objective-actions {
        .objective-actions-buttons {
          pointer-events: none;
        }
      }
    }
    .objective-label-children {
      .objective-button-children {
        pointer-events: none;
      }
    }
  }
  &.objective-with-children {
    .objective-card {
      .objective-card-content {
        &:after {
          bottom:unset;
          top: 100%;
        }
      }
    }
  }

  .objective-card {
    box-shadow: 0 3px 9px rgba(0,0,0,.2);
    &:hover {
      .objective-actions {
        .objective-actions-buttons {
          transform: translateY(0);
        }
      }
    }
    .objective-card-content {
      padding-bottom: 16px;
      &:after,
      &:before {
        content: "";
        display: block;
        bottom: 100%;
        left: 50%;
        height: 32px;
        position: absolute;
        border-left: 1px solid #ccc;
      }
    }
    .objective-actions {
      position: absolute;
      z-index: 2;
      top: 100%;
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 10px 0;
      gap: 8px;
      overflow: hidden;
      .objective-actions-buttons {
        pointer-events: all;
        transition: .2s .2s;
        transform: translateY(-60px);
      }
    }
  }
  .objective-status,
  .objective-category {
    font-size: 18px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: rgba(0, 0, 0, 0.66);
    background-color: rgba(0, 0, 0, 0.08);
  }
  .objective-status {
    font-size: 13px;
    padding: 4px 12px;
    font-weight: 500;
  }
  .objective-name {
    margin-top: 16px;
    text-align: center;
  }
  .objective-graph {
    margin: 8px 0;
    .objective-graph-content {
      width: 100%;
    }

    .objective-graph-conclusion-progress {
      &.warn {
        ::ng-deep .mdc-linear-progress__bar-inner {
          border-color: #d32f2f;
        }
      }
      &.accent {
        ::ng-deep .mdc-linear-progress__bar-inner {
          border-color: #ed6c02;
        }
      }
      &.success {
        ::ng-deep .mdc-linear-progress__bar-inner {
          border-color: #2E7D32;
        }
      }
    }

    .objective-graph-conclusion-percent {
      min-width: 36px;
      font-weight: bold;
      text-align: right;
      &.warn {
        color: #d32f2f;
      }
      &.accent {
        color: #ed6c02;
      }
      &.success {
        color: #2E7D32;
      }
    }
  }

  .objective-krs {
    text-align: center;
    display: block;
  }

  .objective-label-children {
    .objective-button-children {
      pointer-events: all;
      margin-top: 16px;
      width: 100%;
      .objective-button-icon-right {
        order: 1;
        margin: 0 -4px 0 8px;
      }
    }
  }
}

.objective-children {
  display: flex;
  justify-content: center;
  gap: 32px;
  .objective-map-item {
    position: relative;
    .objective-connections {
      &:after {
        right: -16px;
        left: 50%;
      }
    }
    &:last-child {
      & > .objective {
        & > .objective-connections {
          &:after {
            display: none;
          }
        }
      }
    }
    .objective-connections {
      &:before {
        right: 50%;
        left: -16px;
      }
    }
    &:first-child {
      & > .objective {
        & > .objective-connections {
          &:before {
            display: none;
          }
        }
      }
    }
  }
  .objective-connections {
    &:after,
    &:before {
      content: "";
      display: block;
      top: 0;
      position: absolute;
      border-top: 1px solid #ccc;
    }
  }
}
