<div class="objective" [ngClass]="{
  'objective-with-children': objective.children && expandedItem,
  'disabled': updatingObjective().length > 0
}">
  <div class="objective-connections">
    <mat-card class="objective-card">
      <mat-card-content class="objective-card-content">

        <div fxLayout fxLayoutGap="8px" fxLayoutAlign="center">
          <mat-icon [matTooltip]="objective.category!.name" matTooltipPosition="above" class="objective-category">
            {{ objective.category | IconCategory }}
          </mat-icon>
          <div class="objective-status">{{objective.finished ? 'Finalizado' : 'Em aberto'}}</div>
          <div class="objective-owner" [matTooltip]="owner ? owner!.name : ''" matTooltipPosition="above" fxLayout fxLayoutAlign="start center" fxLayoutGap="4px">
            <img
              *ngIf="owner && owner!.photo; else noPhoto"
              [src]="owner!.photo"
              [alt]="owner!.name"
              class="user-photo user-photo-xs"
            />
            <ng-template #noPhoto>
              <mat-icon class="user-photo user-photo-xs">person</mat-icon>
            </ng-template>
          </div>
        </div>

        <div class="objective-name">{{ objective.name }}</div>

        <div class="objective-graph" fxFlexAlign="center center" fxLayout fxLayoutAlign="start center" fxLayoutGap="16px">
          <div class="objective-graph-content" fxLayout="column" fxLayoutGap="8px">
            <mat-progress-bar
              mode="determinate"
              [value]="objective.conclusionPercent ? objective.conclusionPercent : 0"
              [ngClass]="getProgressStatus(objective) | ColorProgress"
              class="objective-graph-conclusion-progress"
            />
          </div>
          <div
            [ngClass]="getProgressStatus(objective) | ColorProgress"
            class="objective-graph-conclusion-percent"
          >
            {{ objective.conclusionPercent ? (objective.conclusionPercent / 100 | percent: '1.0-1') : '0%' }}
          </div>
        </div>

        <div class="objective-krs">
          <small *ngIf="objective.numberOfKRs && objective.numberOfKRs > 0; else noKrs">
            {{ objective.numberOfKRsCompleted ? objective.numberOfKRsCompleted : 0 }} de
            {{ objective.numberOfKRs }} KR{{objective.numberOfKRs > 1 ? 's' : ''}}
            completo{{objective.numberOfKRs > 1 ? 's' : ''}}
          </small>
          <ng-template #noKrs>
            <small>Nenhum KR cadastrado</small>
          </ng-template>
        </div>

        <div *ngIf="objective.children" class="objective-label-children">
          <button
            (mousedown)="clickedOnly($event)"
            (mouseup)="expandItem(objective, $event)"
            mat-stroked-button
            color="primary"
            class="objective-button-children"
          >
            <mat-icon class="objective-button-icon-left">{{ expandedItem ? 'expand_more' : 'expand_less'}}</mat-icon>
            <div>{{ objective.children.length }} objetivo{{objective.children.length > 1 ? 's' : ''}}</div>
            <mat-icon class="objective-button-icon-right">{{ expandedItem ? 'expand_more' : 'expand_less'}}</mat-icon>
          </button>
        </div>

      </mat-card-content>
      <div class="objective-actions">
        <button
          (mousedown)="clickedOnly($event)"
          (mouseup)="openDetails(objective, owner, $event)"
          mat-mini-fab
          aria-label="Mais detalhes"
          color="primary"
          matTooltip="Mais detalhes"
          matTooltipPosition="above"
          class="objective-actions-buttons"
        >
          <mat-icon>info</mat-icon>
        </button>
        <button
          (mousedown)="clickedOnly($event)"
          (mouseup)="openEditObjective(objective, $event)"
          mat-mini-fab
          aria-label="Editar objetivo"
          color="primary"
          matTooltip="Editar objetivo"
          matTooltipPosition="above"
          class="objective-actions-buttons"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          (mousedown)="clickedOnly($event)"
          (mouseup)="deleteObjective(objective, $event)"
          mat-mini-fab
          aria-label="Excluir objetivo"
          color="warn"
          matTooltip="Excluir objetivo"
          matTooltipPosition="above"
          class="objective-actions-buttons"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
</div>

<div *ngIf="objective.children && expandedItem" class="objective-children">
  <app-objective-map-item
    [objective]="objective"
    [objectivesInBackground]="objectivesInBackground"
    [owners]="owners"
    (updateObjectives)="updateObjectives.emit($event)"
    *ngFor="let objective of objective.children; trackBy: trackByObjective"
    class="objective-map-item"
  />
</div>
