<mat-form-field
  fxFlexFill
  [matTooltip]="!category ? 'Selecione a categoria do objetivo.' : ''"
  matTooltipPosition="above"
>
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    [ariaLabel]="label"
    [disabled]="!category"
    [(ngModel)]="associateAutoComplete"
    (ngModelChange)="autoCompleteAssociate()"
    (blur)="verifyAssociate()"
    name="associate"
    #associateField="ngModel"
    [matAutocomplete]="associateAuto"
  />
  <mat-spinner *ngIf="loading" diameter="20" class="mat-autocomplete-loading"></mat-spinner>
  <mat-autocomplete #associateAuto="matAutocomplete" [displayWith]="objectiveName">
    <mat-option *ngIf="objectivesInCategories.length === 0" disabled>
      Nenhum objetivo encontrado
    </mat-option>
    <mat-optgroup
      *ngFor="let objectivesInCategory of objectivesInCategories"
      [label]="objectivesInCategory.name"
      class="mat-autocomplete-category"
    >
      <mat-option *ngFor="let objective of objectivesInCategory.objectives" [value]="objective">
        {{objective.name}}
      </mat-option>
    </mat-optgroup>
  </mat-autocomplete>
  <mat-hint>{{ hint }}</mat-hint>
</mat-form-field>
