<div class="page-header">
  <h1>{{ titlePage }}</h1>
  <button
    fxHide.lt-md
    *ngIf="buttonText"
    (click)="buttonAction.emit()"
    mat-flat-button
    color="primary"
  >
    <mat-icon *ngIf="buttonIcon">{{ buttonIcon }}</mat-icon>
    <span>{{ buttonText }}</span>
  </button>
  <button
    fxHide.gt-sm
    *ngIf="buttonText"
    (click)="buttonAction.emit()"
    mat-fab
    color="primary"
  >
    <mat-icon *ngIf="buttonIcon">{{ buttonIcon }}</mat-icon>
    <span *ngIf="!buttonIcon">{{ buttonText }}</span>
  </button>
</div>
