.filter {
  padding: 24px;
  margin: -24px -16px 0 -16px;
  @media (min-width: 960px) {
    margin: -24px -24px 0 -24px;
  }
  @media (max-width: 767px) {
    .mat-mdc-form-field {
      width: 100%;
    }
  }
  background: #fff;
  border-bottom: 1px solid rgba(0,0,0,.12);
}

.dashboard-container {
  display: flex;
  flex-wrap: wrap;
}

.dashboard {
  max-width: 100%;
  flex: 1 0 100%;
  padding: 24px 0 0 0;
  box-sizing: border-box;
  @media (min-width: 1280px) {
    max-width: 60%;
    padding-right: 24px;
  }
}

.my-okrs {
  flex: 1 0 100%;
  padding: 24px 24px 0 24px;
  background: #fff;
  box-sizing: border-box;
  margin: 24px -16px 0 -16px;
  border-top: 1px solid rgba(0,0,0,.12);
  @media (min-width: 960px) {
    margin: 24px -24px 0 -24px;
  }
  @media (min-width: 1280px) {
    min-height: 70vh;
    max-width: 40%;
    border: 0;
    margin: -48px 0 -24px 0;
    box-shadow: 0 0 16px rgba(0, 0, 0, .24);

  }
}

.loading {
  margin: 48px auto;
}
