
<app-page-header />

<div class="filter">
  <div class="cycles">
    <mat-form-field>
      <mat-label>Objetivos do ciclo:</mat-label>
      <mat-select [(value)]="filter.cycle" (valueChange)="getObjectives();">
        <mat-option *ngFor="let cycle of cycles" [value]="cycle" >
          {{cycle.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div class="dashboard-container">

  <div *ngIf="loadingObjectives, else noLoading" class="loading">
    <mat-spinner diameter="40"></mat-spinner>
  </div>

  <ng-template #noLoading>

    <div class="dashboard">

      <app-dashboard-indicators [objectives]="objectives" [filter]="filter" [updateComponent]="updateComponent" />

      <app-dashboard-history [objectives]="objectives" [filter]="filter" [cycles]="cycles" [updateComponent]="updateComponent" />

    </div>

    <div class="my-okrs">

      <app-my-okrs-indicators [objectives]="objectives" [filter]="filter" [myKrs]="myKrs" [updateComponent]="updateComponent" />

      <app-my-okrs [objectives]="objectives" [filter]="filter" [myKrs]="myKrs" (updateObjectivesHandle)="updateObjectives($event)" />

    </div>

  </ng-template>

</div>

