<mat-drawer-container
  autosize
  class="drawer-container"
  [ngClass]="{ 'disabled': isMenuOpen }"
>

  <mat-drawer
    #drawer
    class="drawer-main"
    [mode]="isSmallScreen ? 'over' : 'side'"
    [opened]="isDrawerOpen"
    (keydown.escape)="closeDrawer()"
    (closedStart)="closeDrawer()"
    position="end"
  >
    <ng-template #drawerContent></ng-template>
    <button
      (click)="closeDrawer()"
      mat-icon-button
      aria-label="Fechar painel"
      class="drawer-button-close"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-drawer>

  <app-header class="header" (verifyMenuOpened)="verifyMenuOpened($event)" />

  <main class="container">
    <router-outlet />
  </main>

</mat-drawer-container>
