html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.user-photo {
  border-radius: 100%;
  background-color: #eee;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  &.user-photo-xs {
    min-width: 28px;
    min-height: 28px;
    max-width: 28px;
    max-height: 28px;
    font-size: 18px;
  }
  &.user-photo-sm {
    min-width: 32px;
    min-height: 32px;
    max-width: 32px;
    max-height: 32px;
  }
  &.user-photo-md {
    min-width: 48px;
    min-height: 48px;
    max-width: 48px;
    max-height: 48px;
    font-size: 32px;
  }
  &.user-photo-lg {
    min-width: 64px;
    min-height: 64px;
    max-width: 64px;
    max-height: 64px;
    font-size: 48px;
  }
}

.no-result {
  display: flex;
  padding: 20px;
  align-items: center;
  gap: 8px;
  .mat-icon {
    color: #ed6c02;
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}


// ANGULAR MATERIAL

.mat-mdc-tooltip-trigger {
  touch-action: auto !important;
}

.mat-icon.user-photo {
  @extend .user-photo;
}

.mdc-button__label {
  text-transform: uppercase;
}

.mdc-dialog {
  .mdc-dialog__title {
    padding: 0 50px 16px 24px;
    border-bottom: 1px solid rgba(0,0,0,.12);
    & + .mdc-dialog__content {
      padding-top: 20px;
    }
    .dialog-close-button {
      position: absolute;
      top: 8px;
      right: 8px;
    }
  }
  .mdc-dialog__actions {
    padding: 16px;
    border-top-color: rgba(0,0,0,.12);
  }
}

.dialog-alert {
  .mdc-dialog {
    .mdc-dialog__title {
      border-bottom: 0;
      & + .mdc-dialog__content {
        padding-top: 20px;
      }
    }
    .mdc-dialog__actions {
      border: 0;
    }
  }
}

.mat-mdc-form-field {
  display: flex;
}

.mat-autocomplete-loading.mdc-circular-progress {
  position: absolute;
  top: 16px;
  right: 0;
}
.mat-mdc-autocomplete-panel {
  .mat-mdc-option {
    .mdc-list-item__primary-text {
      display: flex;
      align-items: center;
    }
    .user-photo,
    .mat-icon {
      display: inline-flex;
      margin-right: 16px;
    }
  }
}

.loading-disabled {
  svg {
    stroke: rgba(0,0,0,.64) !important;
  }
}

.mat-success {
  color: #fff !important;
  background-color: #2E7D32 !important;
}
.mat-success[disabled] {
  background-color: rgba(0, 0, 0, 0.12) !important;
}


.mdc-button {
  .mdc-button__label {
    letter-spacing: 0.64px;
  }
}

.drawer-container {
  &.disabled {
    pointer-events: none;
  }
  .mat-drawer-content {
    height: 100vh;
    z-index: 1;
  }
}

.drawer-main {
  position: fixed !important;
  .drawer-button-close {
    position: absolute;
    top: 8px;
    right: 8px;
  }
  .drawer-title {
    color: rgba(0,0,0,.87);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: .25px;
    margin: 0;
    padding: 20px 56px 16px 16px;
    width: 244px;
    @media (min-width: 600px) {
      width: 340px;
    }
  }
  .drawer-content {
    width: 320px;
    padding: 0 16px 16px 16px;
    box-sizing: border-box;
    @media (min-width: 600px) {
      width: 412px;
    }
  }
}

.cdk-overlay-pane {
  @media (max-width: 767px) {
    width: 100% !important;
    margin-top: 0 !important;
    .mat-mdc-dialog-container {
      .mdc-dialog__surface {
        border-radius: 0;
        & > .ng-star-inserted {
          display: flex;
          flex-direction: column;
          max-height: 100svh;
        }
      }
    }
  }
}

.mat-mdc-dialog-content {
  @media (max-width: 767px) {
    max-height: none !important;
  }
}
