<div class="map" #mapRoot>

  <div #mapHeader class="map-header">
    <div class="map-header-actions">
      <button (click)="zoomOut()" mat-icon-button aria-label="Diminuir zoom" matTooltip="Diminuir zoom" matTooltipPosition="above">
        <mat-icon>remove</mat-icon>
      </button>
      <div (click)="zoomDefault()" class="map-zoom" matTooltip="Ajustar zoom para 100%" matTooltipPosition="above">
        {{ zoomFactor | percent }}
      </div>
      <button (click)="zoomIn()" mat-icon-button aria-label="Aumentar zoom" matTooltip="Aumentar zoom" matTooltipPosition="above">
        <mat-icon>add</mat-icon>
      </button>
      <mat-divider [vertical]="true" />
      <button (click)="zoomFit()" mat-icon-button aria-label="Ajustar zoom para encaixar na tela" matTooltip="Ajustar zoom para encaixar na tela" matTooltipPosition="above">
        <mat-icon>aspect_ratio</mat-icon>
      </button>
      <mat-divider [vertical]="true" />
      <button mat-icon-button aria-label="Fechar todos" matTooltip="Fechar todos" matTooltipPosition="above">
        <mat-icon>unfold_less</mat-icon>
      </button>
      <button mat-icon-button aria-label="Abrir todos" matTooltip="Abrir todos" matTooltipPosition="above">
        <mat-icon>unfold_more</mat-icon>
      </button>
    </div>
  </div>

  <div
    #mapContainer
    class="map-container"
    [style.transform]="'scale(' + zoomFactor + ') translateX(' + translateX + 'px)'"
    [style.marginBottom.px]="marginBottomMap"
    [class.block-actions]="isMoving"
    [class.map-container-animation]="!isMoving"
    (mousedown)="setMouseMoving(true)"
    (mouseup)="setMouseMoving(false)"
    (mouseleave)="setMouseMoving(false)"
    (mouseenter)="setMouseMoving(false)"
    (mousemove)="moveMap($event)"
  >
    <app-objective-map-item
      #mapFirstLevel
      [objective]="objective"
      *ngFor="let objective of objectives; trackBy: trackByObjective"
      class="map-first-level"
    />
  </div>
</div>
