.map {
  max-width: 100%;
  width: 100%;
  padding-top: 64px;
  min-height: calc(100vh - 64px);
  overflow: hidden;
}

.map-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: #eee;
  padding: 8px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  user-select: none;
  .map-header-actions {
    display: flex;
    align-items: center;
    border-radius: 100px;
    background-color: #fff;
    padding: 0 4px;
    .map-zoom {
      width: 48px;
      text-align: center;
      cursor: pointer;
    }
    .mdc-icon-button {
      transform: scale(0.84);
      margin: 0 -4px;
    }
    .mat-divider {
      height: 32px;
      margin: 0 4px;
    }
  }
}

.map-container {
  display: flex;
  justify-content: center;
  gap: 32px;
  padding: 16px;
  transform: scale(1);
  transform-origin: top;
  margin: 0 auto;
  position: relative;
  user-select: none;
  &.map-container-animation {
    transition: .2s;
  }
  &.block-actions {
    ::ng-deep .objective {
      pointer-events: none;
    }
  }
  .map-first-level {
    ::ng-deep > .objective {
      margin-top: 16px;
      .objective-card {
        .objective-card-content {
          &:before {
            display: none;
          }
        }
      }
      &:not(.objective-with-children) {
        .objective-card {
          .objective-card-content {
            &:after {
              display: none;
            }
          }
        }
      }
    }
  }
}
