.map {
  max-width: 100%;
  width: 100%;
  margin: -24px -24px 0 -24px;
  padding: 64px 24px 24px 24px;
  min-height: calc(100vh - 64px);
  overflow: hidden;
  position: relative;
  @media (max-width: 599px) {
    margin-top: -16px;
  }
  @media (max-width: 959px) {
    padding: 64px 16px 24px 16px;
    margin: -24px -16px 0 -16px;
  }
}

.map-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: #fff;
  padding: 8px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  user-select: none;
  box-shadow: 0 0 8px rgba(0,0,0,.12);
  .updating-background {
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: rgba(0,0,0,.66);
    animation: showLoadingBackground .2s;
    .mat-icon {
      max-width: 18px;
      max-height: 18px;
      font-size: 18px;
    }
  }

  @keyframes showLoadingBackground {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .map-header-actions {
    display: flex;
    align-items: center;
    border-radius: 100px;
    padding: 0 4px;
    .map-zoom {
      width: 48px;
      text-align: center;
      cursor: pointer;
    }
    .mdc-icon-button {
      transform: scale(0.84);
      margin: 0 -4px;
    }
  }
  .mat-divider {
    height: 32px;
    margin: 0 4px;
  }
}

.map-container {
  display: flex;
  justify-content: center;
  gap: 32px;
  padding: 16px;
  transform: scale(1) translate3d(0,0,0);
  transform-origin: top;
  margin: 0 auto;
  position: relative;
  user-select: none;
  backface-visibility: visible;
  perspective: 1000;
  touch-action: none;
  &.map-container-animation {
    transition: .2s ease;
  }
  &.block-actions {
    ::ng-deep .objective {
      pointer-events: none;
    }
  }
  .map-first-level {
    ::ng-deep > .objective {
      margin-top: 16px;
      .objective-card {
        .objective-card-content {
          &:before {
            display: none;
          }
        }
      }
      &:not(.objective-with-children) {
        .objective-card {
          .objective-card-content {
            &:after {
              display: none;
            }
          }
        }
      }
    }
  }
}
