
<app-page-header
  [buttonText]="'Criar usuário'"
  [buttonIcon]="'add'"
  (buttonAction)="openCreateUser()"
/>

<div class="users-container">

  <div class="search-header">

    <h2 class="search-title">
      <span *ngIf="!loading">
        <span *ngIf="users.length > 0, else noUsers">
          {{ users.length }} usuário{{ users.length > 1 ? 's' : '' }} encontrado{{ users.length > 1 ? 's' : '' }}
        </span>
      </span>
    </h2>

    <ng-template #noUsers>
      <div class="no-result">
        <mat-icon>error_outline</mat-icon>
        Nenhum usuário encontrado.
      </div>
    </ng-template>

    <div class="search-field">
      <mat-form-field class="search-field-container">
        <mat-label>Buscar usuários</mat-label>
        <input matInput type="text" [(ngModel)]="keyword" (ngModelChange)="changeSearchKeyword()">
        <button
          *ngIf="keyword; else noSearch"
          matSuffix
          mat-icon-button
          aria-label="Limpar busca"
          (click)="clearSearchKeyword()"
        >
          <mat-icon>close</mat-icon>
        </button>
        <ng-template #noSearch>
          <button matSuffix mat-icon-button color="primary">
            <mat-icon>search</mat-icon>
          </button>
        </ng-template>
      </mat-form-field>
    </div>

  </div>

  <div *ngIf="loading" class="loading">
    <mat-spinner diameter="40"></mat-spinner>
  </div>

  <div *ngIf="users.length > 0 && !loading" class="users">
    <mat-card *ngFor="let user of users" class="user">
      <div class="user-header">
        <img *ngIf="user.photo, else noPhoto" [src]="user.photo" class="user-photo" [alt]="'Foto de ' + user.name">
        <ng-template #noPhoto>
          <mat-icon class="user-photo">person</mat-icon>
        </ng-template>
        <mat-card-title>{{ user.name }}</mat-card-title>
        <mat-card-subtitle *ngIf="user.position">{{ user.position }}</mat-card-subtitle>
        <small *ngIf="user.email" class="user-email">E-mail: {{ user.email }}</small>
      </div>
      <mat-divider />
      <mat-card-actions align="end">
        <button
          (click)="openEditUser(user)"
          mat-icon-button
          matTooltip="Editar usuário"
          matTooltipPosition="above"
          aria-label="Editar usuário"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <span
          matTooltipPosition="above"
          [matTooltip]="myUser.id === user.id ? 'Você não pode excluir seu usuário, peça para outro usuário fazer a exclusão.' : ''"
        >
          <button
            (click)="deleteUser(user)"
            mat-icon-button
            matTooltipPosition="above"
            matTooltip="Excluir usuário"
            aria-label="Excluir usuário"
            [disabled]="myUser.id === user.id"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </span>
      </mat-card-actions>
    </mat-card>
  </div>

</div>
